.left-sidebar {
    padding-top: 2%;
    background-color:white;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 15%;
}

.sidebar-text {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

span {
  margin-left: 16px;
}