.right-sidebar {
    padding: 2% 0 0 1%;
    background-color:white;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 15%;
}

.get-in-touch {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.get-in-touch-paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1vw;
}