
.logo{
    font-size: 25px;
    font-weight: 600;
    margin-left: 2vw;
    color: white;
}

img {
  border-radius: 50%;
}

.search-input {
  margin-left: 36px;
  background-color: white;
  width: 25vw;
  height: 30px;
  border-radius: 8px;
  font-style: italic;
  padding: 0 10px;
  margin:0 8vw;
  border: none;
  outline: none;
  color: lightgray;
  font-size: 15px;
}

.navbar-alignment{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color: #6C7F8A;
}

.user-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1vw;
  color:white;
}

.avatar-border{
    border-radius: 50%;;
    border-style: solid;
    border-width: 2;
    border-color:white;
}